*.ipynb_checkpoints

*.cpython-37.pyc
*.pyc
*.py~
*.pkl
*.txt
*.pt
*.pth
*.ckpt
*.swap

model/* 
plots/* 
Simulator/* 
results/*
meta_data/*
logs/*
ckpt/* 
__pycache__


*.sh
*.ipynb 

!unit_test.py 
!run_experiment.py 


